@use '_colores';
@use '_fuentes';
@use '_spacing';



@mixin flex-layout($justify: flex-start, $align: stretch, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

  @mixin no-decoration {
    list-style: none;
    text-decoration: none;
}

.title-section{
    @include fuentes.font-responsive(title-1);
    color: colores.$font-primary;
}

.subtitle-section{
    @include fuentes.font-responsive(subtitle-merri);
    color: colores.$font-primary;
}

.temas-section{
    @include flex-layout(flex-start, flex-start, column);
    gap: map-get($map: spacing.$spacing, $key: 24px);
}

.max-width-section{
    max-width: 1200px;
    margin: 0 auto;
}


.mb-section{
    margin-bottom: 120px !important;
}

.mt-section{
    margin-top: 120px !important;
}



/*Rango Solo mobile*/
@media screen and (max-width: 767px) {}


/*Rango Solo tablet*/
@media screen and (min-width: 768px) and (max-width:1023px) {}

/*Rango Desktop*/
@media screen and (min-width: 1024px) {

    .mb-section{
        margin-bottom: 220px !important;
    }
    
    .mt-section{
        margin-top: 220px !important;
    }
    
    
}