@use "_animaciones.scss";
@use "_botones.scss";
@use "_cards.scss";
@use "_colores.scss";
@use "_faq.scss";
@use "_fuentes.scss";
@use "_form.scss";
@use "_header.scss";
@use "_index.scss";
@use "_modal.scss";
@use "_nav.scss";
@use "_proyecto.scss";
@use "_spacing.scss";
@use "_utils.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700;900&family=Lora:wght@400;500;600;700&family=Merriweather:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include utils.no-decoration;
    color: white
}


body{
    background-image: url("../assets/img/Bg-borrador1.png");

}

/*Rango Solo mobile*/
@media screen and (max-width: 767px) {}


/*Rango Solo tablet*/
@media screen and (min-width: 768px) and (max-width:1023px) {


}

/*Rango Tablet >*/

@media screen and (min-width: 768px) {}



/*Rango Desktop >*/
@media screen and (min-width: 1024px) {

}


/*Rango Desktop gap*/
@media screen and (min-width: 1024px) and (max-width:1247px) {


}


/*Rango desktop xl*/
@media screen and (min-width: 1248px) {

}

